/*
Основной цвет текста #757575
Вторичный цвет текста #212121
Акцент #2196F3
Черный #000000
Белый #FFFFFF
Главный фон #E5E5E5
Вторичный фон #F5F4FA
*/

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --primary-black-color: #000000;
  --primary-bg-color: #e5e5e5;
  --secondary-bg-color: #f5f4fa;
}

.list {
  list-style: none;
}

body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
}

/*HEADER*/

.logo {
  text-decoration: none;
}

.logo-first {
  color: var(--accent-color);
}

.logo-second {
  color: var(--primary-black-color);
}

.site-nav .link {
  color: var(--title-text-color);
  text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.address .link {
  color: var(--primary-text-color);
  text-decoration: none;
}

.address .link:hover,
.address .link:focus {
  color: var(--accent-color);
}

/*HERO*/
.section-title {
  color: var(--title-text-color);
}

.hero-title {
  color: var(--primary-white-color);
}

.button {
  background-color: var(--secondary-bg-color);
  color: var(--title-text-color);
}

.button.primary {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

/*TEAM*/
.team-container {
  background-color: var(--secondary-bg-color);
}

/*PORTFOLIO*/

.projects .button {
  color: var(--title-text-color);
  text-decoration: none;
}

.button.secondary:hover,
.button.secondary:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.projects-title {
  color: var(--title-text-color);
}
